body {
  background: url("...img/airline.jpg") no-repeat center
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

.top{
  background: #193A55;
  width: 100%;
  position: absolute;
  display: flex;

}

/* passenger count */
div class passenger info
div class quantity
div label
div select
option value-12345


/* Radio button dropdown */
div class Radioform action
input type='radio'checked= name= value=
